[defaults]
host_key_checking = False
inventory = ./inventory/production
role_path = ./roles
remote_user = root
ask_pass = False
ask_become_pass = False
become = True
become_method = sudo

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o control_path=~/.ssh/ansible-ssh-%%h-%%p-%%r
pipelining = True